.header {
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navMenu {
    width: 90%;
    height: 5em;
}